.page-details {
  h5 {
    font-weight: normal;
    font-size: 18px;
    color: #0c0d36;
  }
  .store-gallery {
    margin-top: 20px;

    .main-image {
      border-radius: 10px;
    }

    .thumbnail-image {
      margin-bottom: 20px;
      border: 3px solid transparent;
      border-radius: 10px;
      &:hover,
      &.active {
        border: 3px solid #ff7158;
      }
    }
  }

  .store-heading {
    h1 {
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      color: #0c0d36;
      margin-bottom: 0px;
    }

    .owner {
      font-weight: normal;
      font-size: 14px;
      line-height: 8px;
      color: #979797;
      margin-bottom: 8px;
    }

    .price {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #ff7158;
      margin-bottom: 10px;
    }
  }

  .store-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    color: #525252;
  }

  .store-review {
    img {
      max-width: 50px;
    }
    .media-body {
      font-weight: normal;
      font-size: 16px;
      line-height: 180%;
      color: #525252;
      margin-bottom: 20px;
      h5 {
        font-weight: 500;
        font-size: 16px;
        color: #0c0d36;
      }
    }
  }
}
