.card-dashboard-product{
    margin-bottom: 15px;

    .card-body{
        .product-title{
            color: #0C0D36;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
        }

        .product-category{
            color: #C5C5C5;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }
    }
}