.card-list {
    margin-bottom: 10px;

    .card-body{
        color: #0C0D36;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}